@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#mainscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}
#mainscreen div {
  display: inline-block;
}

#textpanel {
  transition: width 0.45s ease;
  position: relative;
  width: 1%;
  height: 100%;
  background: black;
  float: left;
  z-index: 2;
}

#textpanel p {
  color: white;
  font-size: 1rem;
  text-align: right;
  padding: 0;
  margin: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#textpanel:hover {
  transition: width 0.45s ease;
  width: 30%;
}
#textpanel > span {
  transition: opacity 0.35s ease;
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#textpanel > span:hover {
  transition: opacity 0.35s ease;
  opacity: 1;
}

#textpanel h3, a {
  color: white;
}
#mainscreen > video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  transform: scale(1.04);
  pointer-events: none;
  float: right;
}

#mainscreen h1 {
  transition: opacity 0.30s ease;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  position: absolute;
  color: white;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 7rem;
  font-weight: bold;
  font-style: italic;
  width: 70%;
  margin: auto;
  opacity: 0;
}


#textpanel h3 {
  text-align: center;
  width: 100%;
  height: calc(100% / 3);
  margin: 0;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
#textpanel h3 a {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  text-decoration: none;
}
#textpanel h3 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
}
#textpanel h3 a:hover::after,
#textpanel h3 a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
#textpanel h3 a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
#textpanel h3 a:hover::after,
#textpanel h3 a:focus::after{
  transform: scale(1);
}