@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.gradientCircle:nth-of-type(1) {
  background: radial-gradient(circle at 80% 10%, #1a1a1a 0%, var(--background) 40%);
  z-index: -1;
}
.gradientCircle:nth-of-type(2) {
  background: radial-gradient(circle at 30% 50%, #2e2e2e 0%, var(--background) 50%);
}
.gradientCircle:nth-of-type(3) {
  background: radial-gradient(circle at 100% 90%, #363636 0%, var(--background) 40%);
}
#textpanel {
  z-index: 100;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

*::selection, ::selection {
  background: black;
  color: black;
}

#horizontalscrollcontainer {
  position: relative;
  left: 1%;
  width: 99%;
  height: 100%;
}
#horizontalscrollcontainer > div {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
}

#horizontalscrollcontainer > div {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  transition: left 0.4s ease;
}

#countercontainer {
  background: white;
}
#countercontainer.fadeover {
  background: black;
  transition: background ease 1s, left 0.4s ease;
}

#counter {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 12em;
  text-align: center;
  color: white;
  justify-content: space-evenly;
}
#counter > div {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
}
#counter > div > div {
  display: flex;
  font-size: 12em;
  font-family: "SUSE";
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}

#counter::before, #counter::after {
  content: '';
  width: 100%;
  height: 3vh;
  background: linear-gradient(to top, transparent, white);
  position: absolute;
  z-index: 2;
  opacity: 0;
}
#counter::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, white);
  opacity: 0;
}
#counter.fadeover::before, #counter.fadeover::after {
  opacity: 1;
  background: linear-gradient(to top, transparent, black);
  transition: opacity 1s 1s ease, background 1s ease;
}
#counter.fadeover::after {
  background: linear-gradient(to bottom, transparent, black);
}

#quote {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 10;
}
#quote h1 {
  font-size: 4em;
  font-family: Updock;
  transform: scale(0.94);
}
#quote h1.animate {
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
#quote h1.disanimate {
  animation: remove 0.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
#quote span {
  filter: blur(4px);
  opacity: 0;
}
#quote span.animate {
  animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes remove {
  100% {
    transform: scale(0.94) translateY(-30px);
    opacity: 0;
    filter: blur(50px);
    display: none;
  }
}

#bgtext {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12em;
  background: linear-gradient(45deg, white 450px, #ffffff00 451px);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #fff 4px;
  background-clip: text !important;
  font-family: "Bebas Neue";
}

.titleletter {
  display: inline-block;
  font-family: "Bebas Neue";
  -webkit-text-stroke: #fff 4px;
  font-size: 12em;
  -webkit-text-stroke: #fff 4px;
  color: transparent;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.075;
}
.titleletter:nth-of-type(1) { order: 1; }
#counter > div:nth-of-type(1) { order: 2; }
.titleletter:nth-of-type(2) { order: 3; }
#counter > div:nth-of-type(2) { order: 4; }
.titleletter:nth-of-type(3) { order: 5; }
#counter > div:nth-of-type(3) { order: 6; }
.titleletter:nth-of-type(4) { order: 7; }
#counter > div:nth-of-type(4) { order: 8; }
.titleletter:nth-of-type(5) { order: 9; }
#counter > div:nth-of-type(5) { order: 10; }
.titleletter:nth-of-type(6) { order: 11; }


#stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 0;
}
#stars > div {
  position: absolute;
  background: url('../media/star.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  animation: glitter 6s linear;
}
@keyframes glitter {
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}

#stars > span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  transform: rotate(315deg);
  opacity: 1;
}
#stars > span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
/* 315deg marad; 70% opacity 1; 100% translateX & opacity 0 */


#stickercontainer {
  background: rgb(255,254,244);
  background: linear-gradient(90deg, rgba(255,254,244,1) 0%, rgba(226,225,219,1) 100%);
  background-image: radial-gradient(black 1.5px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}
#stickercontainer > div {
  position: absolute;
  width: 300px;
  font-family: "Urbanist";
  font-size: 1.3em;
  padding: 20px;
  border-radius: 4px;
  transition: box-shadow 0.025s ease, transform 0.025s ease;
  cursor: grab;
  border-style: solid;
  border-width: 1px;
}
#stickercontainer > div:active {
  box-shadow: 5px 5px 12px rgba(0,0,0, 0.4);
  transform: translate(-5px, -5px);
  transition: box-shadow 0.025s ease, transform 0.025s ease;
  cursor: grabbing;
}

#stickercontainer > div h1 {
  font-size: 1em;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#stickercontainer > div > h1::before {
  content: "#";
  margin-right: 7px;
  font-style: italic;
  color: rgba(0,0,0,0.5);
  font-weight: 700;
}

#stickercontainer > div ul li {
  list-style-type: none;
}
#stickercontainer > div ul li::before {
  content: "+";
  margin-right: 7px;
  font-style: italic;
  color: rgba(0,0,0,0.5);
  font-weight: 700;
}

#stickercontainer > div b {
  font-weight: 700;
}
#stickercontainer > div b::before, #stickercontainer > div b::after {
  content: "**";
  color: rgba(0,0,0,0.5);
  font-weight: 700;
}

#stickercontainer > div i {
  font-style: italic;
}
#stickercontainer > div i::before, #stickercontainer > div i::after {
  content: "_";
  font-weight: 700;
  color: rgba(0,0,0,0.5);
}

#stickercontainer > div s {
  text-wrap: nowrap;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(0,0,0,0.5);
}
#stickercontainer > div s::before, #stickercontainer > div s::after {
  text-decoration: none;
  content: "~";
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  display: inline-block;
}
