@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Oxygen:wght@400;700&display=swap');

:root {
  --scrollspeed: 0.6s;
  --transformPrefix: 1;
  --transformOrigin: 0;
  --transformEnd: 125;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}
#outsidecontainer {
  position: absolute;
  top: 0;
  left: 1%;
  width: 99%;
  display: inline-block;
  background: black;
  z-index: -2;
}

#insidecontainer {
  width: 80%;
  margin: 0 10%;
  z-index: 1;
}
#middleLine {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background: black;
}
#middleLine svg {
  position: absolute;
  top: 0;
  left: calc(99% / 2);
  transform: translateX(-50%);
}

.sideline {
  transform: translateX(125px) scaleX(0);
  transition: transform 0.5s ease;
}
.sideline:nth-of-type(odd) {
  transform: translateX(125px) scaleX(0);
}

.container {
  position: relative;
  display: inline-block;
  width: calc((100% - 254px) / 2 + 0.5px);
  background: white;
  margin-bottom: 250px;
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
  opacity: 0;
  filter: blur(0.5vh);
  transform: translateY(50px) scale(0.98);
  transition: opacity var(--scrollspeed) ease, transform var(--scrollspeed) ease, filter var(--scrollspeed) ease;
}
.container:nth-of-type(odd) {
  left: 241px;
  top: 250px;
}
.container:last-of-type {
  margin-bottom: 50px;
}

.container img {
  position: relative;
  width: 100%;
  background-size: contain;
}
.description h2 {
  font-family: 'Oxygen';
  font-weight: bold;
  text-align: center;
}
.description p {
  font-family: 'Oxygen';
  font-weight: normal;
  text-align: left;
}
.description {
  padding: 20px;
  padding-top: 0;
}

#mainCircle {
  transition: transform 0.3s ease;
}

#backgroundCanvas {
  position: absolute;
  left: 0%;
  top: 0;
  z-index: -1;
}

.gradientCircle:nth-of-type(1) {
  background: radial-gradient(circle at 80% 10%, #1a1a1a 0%, var(--background) 40%);
  z-index: -1;
}
.gradientCircle:nth-of-type(2) {
  background: radial-gradient(circle at 30% 50%, #2e2e2e 0%, var(--background) 50%);
}
.gradientCircle:nth-of-type(3) {
  background: radial-gradient(circle at 100% 90%, #363636 0%, var(--background) 40%);
}