@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Gowun+Batang:wght@400;700&family=Oxygen:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
}
#page {
  position: absolute;
  left: 1%;
  width: 99%;
  height: 100%;
  background: #0A0E14;
}

#server {
  position: relative;
  top: 0;
  height: 100%;
}
#server video {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 60%;
  border: 2px solid #e5b54f7e;
  border-radius: 10px;
  box-shadow: #e5b54f4d 10px 10px 2vh, #e5b54f4d -10px -10px 2vh;
  bottom: -50%;
}
#server h1 {
  display: inline-block;
  position: relative;
  font-family: 'Gowun Batang', Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  width: 100%;
  font-weight: 400;
}
#server div {
  height: 50%;
  position: relative;
}
#server .title {
  font-size: 6em;
  font-weight: 700;
}
#server .description {
  font-size: 3.5em;
  top: 80%;
  transform: translateY(-50%);
}

.description::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.highlighted::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.description::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #e5b54fd3;
  z-index: -1;
  transition: transform .3s ease;
}

#server .textcontainer {
  position: absolute;
  display: inline-block;
  height: 50%;
  width: 100%;
}

.descriptionContainer {
  display: flex;
  position: relative;
  top: 50%;
  margin-top: 50px;
}

.descriptionContainer > p {
  margin: 0px 10%;
  text-align: justify;
  font-family: 'Gowun Batang', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.gradientCircle:nth-of-type(1) {
  background: radial-gradient(circle at 80% 10%, #1a1a1a 0%, var(--background) 40%);
  z-index: -1;
}
.gradientCircle:nth-of-type(2) {
  background: radial-gradient(circle at 30% 50%, #2e2e2e 0%, var(--background) 50%);
}
.gradientCircle:nth-of-type(3) {
  background: radial-gradient(circle at 100% 90%, #363636 0%, var(--background) 40%);
}